<ion-view view-title="基本信息">

	<ion-content>
		<ion-list>
			<ion-item>姓名：侯典迅</ion-item>
			<ion-item>性别：男</ion-item>
			<ion-item>年龄：24</ion-item>
			
			<ion-item class="item item-divider"></ion-item>
			<ion-item>最高学历：本科</ion-item>
			<ion-item>工作年限：2年</ion-item>
			
			<ion-item class="item item-divider"></ion-item>
			<ion-item>手机号码：18337103933</ion-item>
			<ion-item>邮箱地址：xun_zero@sina.com</ion-item>
			
			<ion-item class="item item-divider"></ion-item>
			<ion-item>现居住地：杭州</ion-item>
			<!--<ion-item>户籍：河南省 濮阳市</ion-item>-->
		</ion-list>
	</ion-content>
	
</ion-view>



