<ion-view view-title="项目经验">

	<ion-content>
		<ion-list>
			<ion-item>
				<h2>项目名称</h2>
				<p>D1优尚网（PC）</p>
			</ion-item>

			<ion-item>
				<h2>时间</h2>
				<p>2016.6-2016.8</p>
			</ion-item>

			<ion-item>
				<h2>项目描述</h2>
				<p>该项目是以服饰搭配为定位的B2C购物平台。</p>
			</ion-item>

			<ion-item>
				<h2>项目职责</h2>
				<div class="card">
					<div class="item item-text-wrap">
						<p>1.技术：该项目主要采用了固定式页面布局。</p>
						<p>&nbsp;&nbsp;①静态页面使用HTML+CSS技术搭建；</p>
						<p>&nbsp;&nbsp;②逻辑控制及动画效果采用jQuery+JavaScript实现；</p>
						<p>&nbsp;&nbsp;③用户登录信息，及购物内容运用Cookie进行本地临时存储；</p>
						<p>&nbsp;&nbsp;④与后端数据交互采用Ajax技术，以JSON数据格式进行传输。</p>
						<p>3.效果：该项目实现的效果有二级菜单显示隐藏、轮播图、导航栏吸顶、楼梯、放大镜、表单正则验证，购物车增删改等。</p>
					</div>
				</div>
			</iov-item>
		</ion-list>
	</ion-content>

</ion-view>