<ion-view view-title="工作经历">

	<ion-content>
		<ion-list>
			<ion-item>
				<h2>工作时间</h2>
				<p>2014.10 - 2016.10</p>
			</ion-item>

			<ion-item>
				<h2>企业名称</h2>
				<p>郑州自由人科技有限公司</p>
			</ion-item>

			<ion-item>
				<h2>职位名称</h2>
				<p>Web前端开发工程师</p>
			</ion-item>

			<ion-item>
				<h2>工作描述</h2>
				<div class="card">
					<div class="item item-text-wrap">
						<p>1.PC端、移动端项目的开发；</p>
						<p>1.PC端、移动端项目的开发；</p>
						<p>2.使用HTML+CSS技术搭建PC端静态页面；</p>
						<p>3.采用jQuery+JavaScript实现页面逻辑控制；</p>
						<p>4.使用Ajax技术实现前后端技术分离，以JSON格式进行文本数据传输；</p>
						<p>5.采用AngularJS+Ionic、ReactJS实现移动端开发。</p>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>

</ion-view>