<ion-view title="Range">

	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button class="button-clear">
			<i></i><i class="ion-ios-arrow-back"></i> Back
		</ion-nav-back-button>
	</ion-nav-bar>


	<ion-content>
		<ion-item style="text-align: center;">
			<p>HTML+CSS</p>
			<div class="range range-positive">
				<input type="range" name="volume" min="0" max="100" value="80">
			</div>
		</ion-item>
		<ion-item style="text-align: center;">
			<p>jQuery</p>
			<div class="range range-positive">
				<input type="range" name="volume" min="0" max="100" value="70">
			</div>
		</ion-item>
		<ion-item style="text-align: center;">
			<p>JavaScript</p>
			<div class="range range-positive">
				<input type="range" name="volume" min="0" max="100" value="60">
			</div>
		</ion-item>
		<ion-item style="text-align: center;">
			<p>H5+C3</p>
			<div class="range range-positive">
				<input type="range" name="volume" min="0" max="100" value="55">
			</div>
		</ion-item>
		<ion-item style="text-align: center;">
			<p>Angular+Ionic</p>
			<div class="range range-positive">
				<input type="range" name="volume" min="0" max="100" value="55">
			</div>
		</ion-item>
		<ion-item style="text-align: center;">
			<p>ReactJS</p>
			<div class="range range-positive">
				<input type="range" name="volume" min="0" max="100" value="55">
			</div>
		</ion-item>
	</ion-content>
</ion-view>