<ion-view title="职业技能">
	<ion-nav-buttons side="right">
		<a href="#/range" class="button">Range</a>
	</ion-nav-buttons>
	
	<ion-content>
		<div class="card">
			<div class="item item-text-wrap">
				<p>1.精通HTML+CSS页面架构和布局，可以处理部分浏览器兼容问题，冒泡、默认事件等；</p>
			</div>
			<div class="item item-text-wrap">
				<p>2.精通本地存储，JS中的Cookie，及H5中的localStorage、sessionStorage;</p>
			</div>
			<div class="item item-text-wrap">
				<p>3.熟练使用H5+C3一些常用的新特性，实现一些炫酷动画；</p>
			</div>
			<div class="item item-text-wrap">
				<p>4.熟练使用JavaScript技术，掌握其核心技术DOM、Ajax、JSON等；</p>
			</div>
			<div class="item item-text-wrap">
				<p>5.熟练使用Ajax前后端交互技术以JSON格式实现前后端数据传输；</p>
			</div>
			<div class="item item-text-wrap">
				<p>6.熟练使用jQuery、Zepto第三方类库，灵活运用iScroll、Swiper插件；</p>
			</div>
			<div class="item item-text-wrap">
				<p>7.熟悉运用ReactJS进行组件化开发，ReactJS+Webpack进行模块化开发；</p>
			</div>
			<div class="item item-text-wrap">
				<p>8.熟悉AngularJS+Ionic+Phonegap构建SPA应用；</p>
			</div>
			<div class="item item-text-wrap">
				<p>9.熟悉预处理器Sass、Less；</p>
			</div>
			<div class="item item-text-wrap">
				<p>10.熟悉自动化构建工具Gulp、Webpack；</p>
			</div>
			<div class="item item-text-wrap">
				<p>11.熟悉版本管理工具，分布式Git，集中式SVN；</p>
			</div>
		</div>
	</ion-content>
</ion-view>